@page "/project/{projectId:int}"
@using Todo.Web.Components.TodoComponent


<title>@CurrentProject.Name</title

<h1>@CurrentProject.Name</h1>

<div class="todo-lists-container">
    @if(CurrentProject.TodoLists != null){
        @foreach (var todoList in CurrentProject.TodoLists)
        {
            <div class="todo-list-container">
                <h5>@todoList.Name</h5>
                @if(todoList.Tasks != null){
                    <ul>    
                        @foreach (var task in todoList.Tasks)
                        {
                            <li class = "task-container">@task.Name
                                <p>Duration: @task.Duration</p>
                                <p>Time: @task.TimeStart - @task.TimeEnd</p>
                                <div class = "todo-date">
                                    @if(task.StartDate == "" && task.EndDate != ""){
                                        <p>@task.EndDate</p>
                                    } else if (task.StartDate != "" && task.EndDate != "") {
                                        <p>@task.StartDate - @task.EndDate</p>
                                    }
                                </div>
                                <button onclick="() => ModifiyTask(task)">Modifiy</button>
                            </li>
                        }
                    </ul>
                }
                <button>Add Task</button>
            </div>
        }
    }
    <div class="new-List">
        <button>Create new List</button>
    </div>
</div>

@code {
    [Parameter]
    public int ProjectId { get; set; }
    public required Project CurrentProject { get; set; }

    //hardcoded TODO List
    private List<TodoTask> hobbyTasks = new List<TodoTask>{
        new TodoTask { Name = "Play football with friends", Duration = 90, TimeStart="5:15 AM", TimeEnd="6:45 AM", StartDate="30-09-24", EndDate="30-09-24", Description="This is a very good description"},
        new TodoTask { Name = "Watch one piece", Duration = 20, TimeStart="19:30 PM", TimeEnd="19:50 PM", StartDate="30-09-24", EndDate="30-09-24", Description="This is also a very good description"},   
        new TodoTask { Name = "Run a marathon", Duration = 20, TimeStart = "5:15 AM", TimeEnd = "7:45 AM" ,  StartDate="30-09-24", EndDate="30-09-24", Description="This is also a very nice description"}   
    };

    //Shouldn't actually create a new project (fetch the given project)
    protected override void OnInitialized() {
        CurrentProject = new Project
        {
            Id = ProjectId,
            Name = "Default",
            TodoLists = new List<TodoList>
            {
                new TodoList
                {
                    Name = "Hobby",
                    Tasks = hobbyTasks
                },
                new TodoList
                {
                    Name = "School",
                    Tasks = new List<TodoTask>
                    {
                        new TodoTask { Name = "Code front page for C#", Duration = 60, TimeStart="5:15 PM", TimeEnd="6:15 PM", StartDate="01-10-24", EndDate="02-10-24", Description="This is a description"}
                    }
                }
            }
        };
    }

    private void ModifyTask(Task task) {
        Console.WriteLine("Modified Task Done");
    }

}
