@using Microsoft.AspNetCore.Authorization
@using Todo.Core.Dtos.ProjectDtos
@using Todo.Core.Dtos.TodoItemDtos
@using Todo.Core.Entities
@using Todo.Web.Auth
@using Todo.Web.Services.interfaces
@inject ITodoItemService TodoItemService
@inject IProjectCollaboratorService ProjectCollaboratorService
@inject IUserService UserService

@attribute [Authorize]

@*div for the outter *@
<div class="page-overlay @(_isVisible ? "visible" : "")" @onclick="CloseView">
    @if (TodoItem != null)
    {
        <div class="todo-item-container" @onclick:stopPropagation>
            <div class="todo-item-header">
                <div class="todo-item-title">
                    @if (_isEditingTitle)
                    {
                        <input class="title-input" type="text" @bind="_editedTitle" @onblur="SaveTitle"/>
                    }
                    else
                    {
                        <h2 @onclick="() => { if (!IsViewer) _isEditingTitle = true; }">@TodoItem.Title</h2>
                    }
                </div>
                <img class="x-icon" src="images/x-icon.png" alt="" @onclick="CloseView"/>
            </div>

            <div class="todo-item-info">
                <div class="description-section">
                    <h3>Description</h3>
                    @if (_isEditingDescription)
                    {
                        <textarea class="description-input" @bind="TodoItem.Description"
                            placeholder="Add a more detailed description..."></textarea>
                        
                        <button class="save-button" @onclick="SaveDescription">Save</button>
                        <button class="cancel-button" @onclick="() => { _isEditingDescription = false; }">Cancel</button>
                    }
                    else
                    {
                        <p @onclick="() => { if (!IsViewer) _isEditingDescription = true; }" class="description-text">
                            @(string.IsNullOrWhiteSpace(TodoItem.Description) ? "Add a more detailed description..." : TodoItem.Description)
                        </p>
                    }
                </div>

                <div class="labels-section">
                    <h3>Labels</h3>
                    <div class="labels-container">
                        @foreach (var label in TodoItem.Labels)
                        {
                            <div class="label" style="background-color: @label.Color">
                                @label.Name
                            </div>
                        }
                    </div>
                </div>

                <div class="details-section">
                    <h3>Details</h3>
                    <div class="detail-container">
                        <span class="detail-label">Priority:</span>
                        @if (!IsViewer)
                        {
                            <select @bind="Priority">
                                <option value="@Priority.VeryLow">VeryLow</option>
                                <option value="@Priority.Low">Low</option>
                                <option value="@Priority.Medium">Medium</option>
                                <option value="@Priority.High">High</option>
                                <option value="@Priority.VeryHigh">VeryHigh</option>
                            </select>
                        }
                        else
                        {
                            <span>@Priority</span>
                        }
                    </div>

                    <div class="detail-container">
                        <span class="detail-label">Due Date:</span>
                        @if (!IsViewer)
                        {
                            <input type="date" @bind="DueDate"/>
                        }
                        else
                        {
                            <span>@(DueDate?.ToString("mm/dd/yyyy") ?? "No due date")</span>
                        }
                    </div>
                </div>

                <div class="bottom-section">
                    @if (!IsViewer)
                    {
                        <button class="delete-button" @onclick="DeleteTodoItemAsync">Delete Task</button>
                    }
                    else
                    {
                        <button class="delete-button" @onclick="DeleteTodoItemAsync" disabled>Delete Task</button>
                    }
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public TodoItemDto TodoItem { get; set; }
    [Parameter] public ProjectDto Project { get; set; }
    [Parameter] public bool IsVisible { get; set; }
    /*Learned this way from here:https://stackoverflow.com/questions/56831266/passing-method-to-component*/
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }
    [Parameter] public EventCallback OnTodoItemDeleted { get; set; }

    private Priority Priority { get => TodoItem.Priority;
        set
        {
            if (TodoItem.Priority != value)
            {
                TodoItem.Priority = value;
                _ = SavePriority();
            }
        }
    }

    private DateTime? DueDate
    {
        get => TodoItem.DueDate;
        set
        {
            TodoItem.DueDate = value;
            _ = SaveDueDate();
        }
    }
    private bool _isVisible;
    private bool _isEditingTitle;
    private bool _isEditingDescription;
    private string _editedTitle;
    private string _editedDescription;

    private bool IsViewer { get; set; } = false;
    
    protected override void OnParametersSet()
    {
        _isVisible = IsVisible;
        if (TodoItem != null)
        {
            _editedTitle = TodoItem.Title;
            _editedDescription = TodoItem.Description;
            Priority = TodoItem.Priority;
            DueDate = TodoItem.DueDate;
        }
        else
        {
            _editedTitle = string.Empty;
            _editedDescription = string.Empty;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var user = await UserService.GetUserInfoAsync();
        if (user == null)
        {
            return;
        }
        
        if (!user.Username.Equals(Project.AdminName))
        {
            var userRole = await ProjectCollaboratorService.GetCurrentUserRoleInProjectAsync(Project.Id);
            IsViewer = userRole == ProjectRole.Viewer;
        }
    }


    private async Task CloseView()
    {
        _isVisible = false;
        
        await IsVisibleChanged.InvokeAsync(false);
    }

    private async Task SaveTitle()
    {
        if(IsViewer) return;
        if (string.IsNullOrWhiteSpace(_editedTitle)) return;

        var updateDto = new UpdateTodoItemDto
        {
            Title = _editedTitle,
            Description = TodoItem.Description,
            Priority = Priority,
            DueDate = TodoItem.DueDate
        };

        var success = await TodoItemService.UpdateTodoItemAsync(TodoItem.Id, updateDto);
        if (success)
        {
            TodoItem.Title = _editedTitle;
        }
        _isEditingTitle = false;
    }

    private async Task SaveDescription()
    {
        if(IsViewer) return;
        var updateDto = new UpdateTodoItemDto
        {
            Title = TodoItem.Title,
            Description = TodoItem.Description,
            Priority = Priority,
            DueDate = TodoItem.DueDate
        };

        var success = await TodoItemService.UpdateTodoItemAsync(TodoItem.Id, updateDto);
        if (success)
        {
            await TodoItemService.GetTodoItemByIdAsync(TodoItem.Id);
        }
        _isEditingDescription = false;
    }

    private async Task SavePriority()
    {
        if(IsViewer) return;
        var updateDto = new UpdateTodoItemDto
        {
            Title = TodoItem.Title,
            Description = TodoItem.Description,
            Priority = Priority,
            DueDate = TodoItem.DueDate
        };

        var success = await TodoItemService.UpdateTodoItemAsync(TodoItem.Id, updateDto);
        if (success)
        {
            await TodoItemService.GetTodoItemByIdAsync(TodoItem.Id);
        }
    }

    private async Task SaveDueDate()
    {
        if(IsViewer) return;
        var updateDto = new UpdateTodoItemDto
        {
            Title = TodoItem.Title,
            Description = TodoItem.Description,
            Priority = Priority,
            DueDate = TodoItem.DueDate
        };

        var success = await TodoItemService.UpdateTodoItemAsync(TodoItem.Id, updateDto);
        if (success)
        {
            await TodoItemService.GetTodoItemByIdAsync(TodoItem.Id);
        }
    }

    private async Task DeleteTodoItemAsync()
    {
        if(IsViewer) return;
        var success = await TodoItemService.DeleteTodoItemAsync(TodoItem.Id);
        if (success)
        {
            await OnTodoItemDeleted.InvokeAsync();
            await CloseView();
        }
    }
}